#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb6b);
}

.logo.mine:hover {
  filter: drop-shadow(0 0 4em #0280229f);
}
.logo.sts:hover {
  filter: drop-shadow(0 0 4em #cb340e6b);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 5s ease;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 3s ease-in;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.landing-page {
  opacity: 1;
  transition: opacity 1s ease; /* Adjust the duration and timing function as needed */
}

.landing-page.fade-out {
  opacity: 0;
}

.main-content {
  opacity: 0;
  transition: opacity 1s ease; /* Adjust the duration and timing function as needed */
}

.main-content.fade-in {
  opacity: 1;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: gradient-animation 10s ease infinite;
  background: linear-gradient(120deg, #02460a 0%, #ffffff 100%);
  background-size: 300% 300%;
}